node_modules/
dist/
.env
.env.production
*.js.map
cockroach-data/
ops/cockroach/certs/*.crt
ops/cockroach/certs/*.key
.env.small-api
.env.example
.env.oracle-free
.env.production.example
.env.small-api.local    
.env.small-browser
